
<nav id="page-leftbar" role="navigation">
    <!-- BEGIN SIDEBAR MENU -->


    <ul class="acc-menu" id="sidebar" style="text-align:left;">
        <li><a href=@Url.Action("Anasayfa", "Yonetici")><i class="fa fa-home"></i><span>Ana Sayfa</span></a></li>
        <li class="divider"></li>

        <li>
            <a href=@Url.Action("Index", "Fakulte")><i class="fa fa-university"></i><span>Fakülte İşlemleri</span></a>
        </li>
        <li>
            <a href=@Url.Action("Index", "Bolum")><i class="fa fa-building"></i><span>Bölüm İşlemleri</span> </a>
        </li>
        <li>
            <a href=@Url.Action("Index", "Ogrenci")><i class="fa fa-users"></i><span>Öğrenci İşlemleri</span> </a>
        </li>
        <li>
            <a href=@Url.Action("Index", "Ogretmen")><i class="fa fa-user-tie"></i><span>Öğretmen İşlemleri</span> </a>
        </li>
        <li>
            <a href=@Url.Action("Index", "Ders")><i class="fa fa-book"></i><span>Ders İşlemleri</span> </a>
        </li>
        <li>
            <a href=@Url.Action("Index", "Donem")><i class="fa fa-calendar-alt"></i><span>Dönem İşlemleri</span> </a>
        </li>
        @{
        var kullanici = Session["Kullanici"] as BilgiYonetimSistemi.DATA.Entities.Kullanici;
        if (BilgiYonetimSistemi.BLL.KullaniciIslemleri.RolGecerliMi(kullanici,"developer"))
        {
                <li>
                    <a href=@Url.Action("Index", "Yonetici")><i class="fa fa-user-edit"></i><span>Yönetici İşlemleri</span> </a>
                </li>
            }

        }
        <li>
            <a href=@Url.Action("Index", "OgrencilerDerslerDonemler")><i class="fa fa-pencil-ruler"></i><span>Öğrenci-Ders Düzenleme</span></a> 
        </li>
        <li>
            <a href=@Url.Action("Index", "OgretmenlerDerslerDonemler")><i class="fa fa-chalkboard-teacher"></i><span>Öğretmen-Ders Düzenleme</span> </a> 
        </li>
    </ul>

    <!-- END SIDEBAR MENU -->
</nav>
