<ul class="acc-menu" id="sidebar">

    <li>
        <a href="/tr/AzamiSure"><i class="fa fa-bolt"></i><span>Admin</span> </a>
    </li>
</ul>

<nav id="page-leftbar" role="navigation">
    <!-- BEGIN SIDEBAR MENU -->


    <ul class="acc-menu" id="sidebar" style="text-align:left;">
        <li><a href="/"><i class="fa fa-home"></i>Ana Sayfa</a></li>
        <li class="divider"></li>

        <li>
            <a href="/tr/Ders"><span>Fakülte İşlemleri</span> </a>
        </li>
        <li>
            <a href="/tr/Ders/Program"><span>Bölüm İşlemleri</span> </a>
        </li>
        <li>
            <a href="/tr/Ders/Yazilma"><span>Öğrenci İşlemleri</span> </a>
        </li>
        <li>
            <a href="/tr/Danisman"><span>Öğretmen İşlemleri</span> </a>
        </li>
        <li>
            <a href="/tr/Transkript"><span>Ders İşlemleri</span> </a>
        </li>
        <li>
            <a href="/tr/Anket/Liste"><span>Dönem İşlemleri</span> </a>
        </li>
        <li>
            <a href="/tr/Home/Basvuru"><span>Yönetici İşlemleri</span> </a>
        </li>
        <li>
            <a href="/tr/Home/Diger"><span>Öğrenci-Ders Düzenleme</span> </a>
        </li>
        <li>
            <a href="/tr/AzamiSure"><span>Öğretmen-Ders Düzenleme</span> </a>
        </li>
    </ul>

    <!-- END SIDEBAR MENU -->
</nav>
