<ul class="acc-menu" id="sidebar">
    <li>
        <a href="/tr/AzamiSure"><i class="fa fa-bolt"></i><span>Ogrenci</span> </a>
    </li>
</ul>


<nav id="page-leftbar" role="navigation">
    <!-- BEGIN SIDEBAR MENU -->


    <ul class="acc-menu" id="sidebar" style="text-align:left;">
        <li><a href="/"><i class="fa fa-home"></i>Ana Sayfa</a></li>
        <li class="divider"></li>

        <li>
            <a href="/tr/Ders"><span>Seçilen Dersler</span> </a>
        </li>
        <li>
            <a href="/tr/Ders/Program"><span>Ders Seçme Sayfası</span> </a>
        </li>
        <li>
            <a href=@Url.Action("Index", "Transkript")><span>Transkript</span> </a>
        </li>
    </ul>

    <!-- END SIDEBAR MENU -->
</nav>