@model BilgiYonetimSistemi.DATA.Fakulte

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Fakülte Silme İşlemleri</h2>
<div class="container">
    <div class="row" style="margin-top:50px">
        <div class="panel panel-default ">
            <div class="col-md-8 col-md-offset-2 ">
                <div class="panel-body center-block">
                    <div class="alert alert-danger">
                        <h4>@Model.FakulteAdi Fakultesini Silmek İstediğinize Emin misiniz?</h4>
                    </div>
                    <div>
                        <h4>Fakülte</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                             <label style="font-weight:bold;">Fakülte Adı:</label>
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FakulteAdi)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="SİL" class="btn btn-danger" />
                                @Html.ActionLink("Listeye Dön", "Index", null, new
                           {
                               @class = "btn btn-default  ",
                               @style = "float:right"
                           })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>