@model BilgiYonetimSistemi.DATA.Fakulte

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Fakülte Ayrıntıları</h2>
<div class="container">
    <div class="row" style="margin-top:50px">
        <div class="panel panel-default ">
            <div class="col-md-8 col-md-offset-2 ">
                <div class="panel-body center-block">
                    <div>
                        <h4>Fakülte</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                <label style="font-weight:bold;">Fakülte Adı:</label>
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FakulteAdi)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("GÜNCELLE", "Edit", new { id = Model.FakulteID }, new { @class = "btn btn-primary  " })

                        @Html.ActionLink("Listeye Dön", "Index", null, new
                   {
                       @class = "btn btn-default  ",
                       @style = "float:right"
                   })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
