@model BilgiYonetimSistemi.DATA.EgitimDuzeyi

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row" style="margin-top:50px">
        <div class="panel panel-default ">
            <div class="col-md-8 col-md-offset-2 ">
                <div class="panel-body center-block">
                    <div>
                        <h4>Eğitim Düzeyi</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayName("Eğitim Düzeyi:")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EgitimDuzeyTipi)
                            </dd>
                            <br />
                            <br />

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("GÜNCELLE", "Edit", new { id = Model.EgitimDuzeyiID }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Listeye Dön", "Index", null, new
                   {
                       @class = "btn btn-default  ",
                       @style = "float:right"
                   })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>