@model BilgiYonetimSistemi.DATA.Ogretmen
@{
    ViewBag.Title = "Anasayfa";
}


<div class="jumbotron">
    <div class="container">
        <h1>Merhaba @Model.OgretmenAdi!</h1>
        <p class="lead">Bilgi Yönetim Sistemine hoşgeldin! Soldaki menüden yapmak istediğin işlemleri seçebilirsin. Şifreni değiştirmek için ise sağ üstteki menüden 'Şifre Değiştir' butonuna tıklaman yeterli!</p>
    </div>
</div>