@model IEnumerable<BilgiYonetimSistemi.DATA.DTOs.OgrenciDTO>

@{
    ViewBag.Title = "OgretmenDersNot";
}

<h2 style="text-align:center">Ogretmen Ders Detay</h2>
<span>
    Sinav Tipi:
    <select id="sinavTipleri" name="sinavTipleri" class="form-control">
        <option value="1" style="text-align:center">Vize-1</option>
        <option value="2" style="text-align:center">Vize-2</option>
        <option value="3" style="text-align:center">Final</option>
    </select>
</span>
<hr />
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Öğrenci Adı</th>
                    <th>Öğrenci Soyadı</th>
                    <th>Not</th>
                </tr>
            </thead>
            <tbody id="notBilgileri">
                
            </tbody>
        </table>
        @Html.ActionLink("Listeye Geri Dön", "OgretmenDersler", null, new { @class = "btn btn-primary", @style = "float:left;" })
        <button id="btnKaydet" class="btn btn-success" style="float:right">Kaydet</button>
    </div>
</div>

@section scripts {
    <script>


        var dersId = @ViewData["DersID"];
        var secilenTip = "Vize-1";
        $(document).ready(function () {
            $("select#sinavTipleri").change(function () {
                secilenTip = $(this).children("option:selected").text();
                OgrenciNotlariGetir();
            });
            OgrenciNotlariGetir();
        });


        function OgrenciNotlariGetir() {
            $.ajax({
                method: "get",
                url: "http://localhost:53663/Ogretmen/OgrenciDersNotlar/" + dersId + "?sinavTipi=" + secilenTip,
                dataType: "json"
            }).done(function (data) {
                $("#notBilgileri").html("");
                for (var key in data) {
                    $("#notBilgileri").append("<tr><td hidden name='ogrenciDersDonemId'>" + data[key].OgrenciDerslerDonemlerID + "</td><td name='ogrenciAdi'>" + data[key].OgrenciAdi + "</td><td name='ogrenciSoyadi'>" + data[key].OgrenciSoyadi + "</td><td name='OgrenciNot'><input type='number' class='form-control' value='" + data[key].AldigiNot + "'/></td></tr>");
                }
            });
        }

        $("#btnKaydet").click(function () {
            ogrenciDersNotlari = [];
            $("#notBilgileri tr").each(function () {
                var tdlist = $(this).find("td");
                var item = {
                    OgrenciDerslerDonemlerID: $(tdlist[0]).html(),
                    AldigiNot: $(tdlist[3]).children().val()
                };
                if (item.AldigiNot > 100 || item.AldigiNot < 0) {
                    alert("Lutfen 0 ile 100 arasi not girisi yapiniz!");
                    return false;
                }
                if (item.AldigiNot != 0) {
                    ogrenciDersNotlari.push(item);
                }
            });
            $.ajax({
                type: "post",
                contentType: "application/json",
                url: "http://localhost:53663/Ogretmen/OgrenciDerseNotEkle/?sinavTipi=" + secilenTip,
                dataType: "json",
                data: JSON.stringify({ ogrenciDersNot: ogrenciDersNotlari }),
                success: function () {
                    alert("Kayit Basariyla Gerceklestirildi.")
                    OgrenciNotlariGetir();
                },
                error: function () {
                    OgrenciNotlariGetir();
                }
            });
        });
    </script>
}

